apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: {{ .DBName }}
  namespace: {{ .Namespace }}
spec:
  teamId: "{{ .Team }}"
  volume:
    size: 5Gi
  numberOfInstances: {{ .Replicas }}
  users:
    {{ .DBName }}:  # database owner user (same as db name)
      - superuser
      - createdb
  databases:
    {{ .DBName }}: {{ .DBName }}  # dbname: owner (both same as db name)
  postgresql:
    version: "15"
  enableConnectionPooler: false
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
